<section class="section" *ngIf="project">
  <div class="global-wrapper">
    <div class="row-wrapper row-wrapper-sticky">
      <component-navigation
        [footerText]="'LUCH is a fresh and innovative CMS template ideal for creating a portfolio or personal blog.'"
        [heroImageMain]="featuredImage"
        [heroImageSecondary]="featuredImage"
        [heroImageMainAlt]="title"
        [heroImageSecondaryAlt]="title"
        [logoText]="'Luch'"
        [breadcrumbText]="'Projects'"
        [heroTitle]="title"
        [heroDesc]="description"
        [scrollProgress]="scrollProgress"
        [isFooterReached]="isFooterReached"
        [preventPicChange]="true"
      >
      </component-navigation>
    </div>
    <div class="row-wrapper row-wrapper-alt" [@fadeInUpStagger]="animationState">
      <div id="content-row" class="row">
        <div class="row-item">
          <div class="row-content row-content-sticky">
            <div class="blog-detail-wrapper" [ngClass]="{ 'fullscreen': isFullscreen }">
              <div class="blog-detail-header text-animate">
                <h1 class="blog-detail-title">{{ title }}</h1>
                <p class="blog-detail-description">{{ description }}</p>
                <div class="blog-detail-meta">
                  <span class="blog-detail-date">{{ formattedDate }}</span>
                  <div class="blog-detail-tags" *ngIf="tags.length > 0">
                    <span *ngFor="let tag of tags" class="blog-detail-tag" tabindex="0">{{ tag }}</span>
                  </div>
                </div>
              </div>
              <div class="text-animate">
                <component-button-link
                  iconType="button"
                  buttonBg="#fff"
                  [title]="isFullscreen ? 'Close Fullscreen' : 'Fullscreen'"
                  (buttonClick)="toggleFullscreen()"
                ></component-button-link>
              </div>
              <hr class="blog-detail-divider text-animate" />
              <ng-container *ngIf="toc.length > 0">
                <nav class="blog-detail-toc text-animate">
                  <div class="blog-detail-toc-title">Table of Contents</div>
                  <ul>
                    <li *ngFor="let item of toc" [ngClass]="{
                      'toc-h1': item.level === 1,
                      'toc-h2': item.level === 2,
                      'toc-h3': item.level === 3
                    }">
                      <a href="#" (click)="$event.preventDefault(); scrollToSection(item.id)"><span class="toc-number">{{ item.number }}.</span>&nbsp;{{ item.text }}</a>
                    </li>
                  </ul>
                </nav>
              </ng-container>
              <hr class="blog-detail-divider text-animate" />
              <div class="blog-detail-content content-text text-animate" #contentRef [innerHTML]="processedContent">
              </div>
            </div>

            <div class="footer-section">
              <component-footer/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
