<div class="row-text-wrapper">
  <div class="row-text-max row-text-max-6">
    <h2>{{ whysSection.title }}</h2>
  </div>
  <div class="why-wrapper">
    <div class="why-item" *ngFor="let block of whysSection.whyBlocks">
      <div class="row-text-max row-text-max-7">
        <div class="row-text-wrapper">
          <div class="row-text">
            <p [innerHTML]="block.text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-hub">
    <div class="content-hub-item" *ngFor="let feature of whysSection.features">
      <div class="row-content">
        <div class="content-hub-item-text">
          <div class="row-text-wrapper">
            <div class="row-text">
              <p class="row-heading row-heading-small">{{ feature.title }}</p>
            </div>
          </div>
          <div class="content-hub-icon">
            <img src="assets/images/check-line-secondary.svg" loading="lazy" alt="Check Icon" class="content-hub-icon-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 