<default-layout
  [footerText]="'LUCH is a fresh and innovative CMS template ideal for creating a portfolio or personal blog.'"
  [heroImageMain]="'assets/images/Abstract-Gradient-Art_1Abstract Gradient Art.avif'"
  [heroImageSecondary]="'assets/images/Abstract-Gradient-Art_1Abstract Gradient Art.avif'"
  [heroImageMainAlt]="'Abstract Gradient Art'"
  [heroImageSecondaryAlt]="'Abstract Gradient Art'"
  [logoText]="'Luch'"
  [breadcrumbText]="'License'"
  [heroTitle]="'License Information'"
  [showHomePageLink]="true"
  [showHeader]="false"
  [showFooter]="true"
  [preventPicChange]="true"
>
  <section class="license-section">
    <div class="license-content">
      <div class="license-text" [@fadeInUpStagger]="animationState">
        <div class="content-text">
          <h2 class="text-animate">{{ pageContent.title }}</h2>
          <p class="license-date text-animate">{{ pageContent.licenseDate }}</p>
          <p class="text-animate" *ngFor="let paragraph of pageContent.paragraphs">
            {{ paragraph }}
          </p>
        </div>

        <div class="license-additional">
          <div class="content-text">
            <h3 class="text-animate">{{ pageContent.additionalInfo.title }}</h3>
            <p class="text-animate" *ngFor="let paragraph of pageContent.additionalInfo.paragraphs">
              {{ paragraph }}
            </p>
          
            <p class="text-animate">For questions regarding licensing or usage, please contact us through our 
            <a href="/contact">contact page</a>.</p>
          </div>
        </div>
        
        <div class="license-tiles">
          <div *ngFor="let tile of licenseTiles; let last = last">
            <div class="content-text">
              <h3 class="text-animate">{{ tile.title }}</h3>
              <p class="text-animate">{{ tile.description }}</p>
            </div>
            <div class="link-wrapper">
              <component-button-link 
                *ngFor="let link of tile.links" 
                [title]="link.label"
                textPosition="right"
                iconType="button"
                [buttonBg]="'#fff'"
                >
              </component-button-link>
            </div>
            <div class="row-divider" *ngIf="!last">
              <div class="row-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</default-layout> 