<default-layout
  *ngIf="changelogPageData"
  [footerText]="changelogPageData.layoutData.footerText"
  [heroImageMain]="changelogPageData.layoutData.heroImageMain"
  [heroImageSecondary]="changelogPageData.layoutData.heroImageSecondary"
  [heroImageMainAlt]="changelogPageData.layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="changelogPageData.layoutData.heroImageSecondaryAlt"
  [logoText]="changelogPageData.layoutData.logoText"
  [breadcrumbText]="changelogPageData.layoutData.breadcrumbText"
  [heroTitle]="changelogPageData.layoutData.heroTitle"
  [showHeader]="false"
>
  <section class="changelog-section">
    <div class="changelog-content content-text">
      <div class="changelog-entries" [@changelogStagger]="animationState">
        <div *ngFor="let entry of changelogPageData.entries; let i = index"
             class="changelog-entry">
          <div class="entry-header">
            <h3 class="version-title">{{ entry.version }} - {{ entry.title }}</h3>
          </div>

          <div class="entry-content">
            <p class="entry-description">{{ entry.description }}</p>

            <ul class="changes-list" *ngIf="entry.changes.length > 0">
              <li *ngFor="let change of entry.changes" class="change-item">
                {{ change }}
              </li>
            </ul>

            <div class="entry-footer">
              <span class="version-date">{{ entry.date }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</default-layout>
