<div class="pagination-container">
  <div class="pagination-line"></div>
  <div class="pagination-buttons">
    <component-button-link
      [buttonBg]="'#fff'"
      [title]="'Previous'"
      textPosition="left"
      iconType="button"
      (buttonClick)="prevPage()"
      [class.disabled]="currentPage === 1">
    </component-button-link>
    <component-button-link
    [buttonBg]="'#fff'"
      [title]="'Next'"
      textPosition="right"
      iconType="button"
      (buttonClick)="nextPage()"
      [class.disabled]="currentPage === totalPages">
    </component-button-link>
  </div>
</div> 