<hero-layout
  *ngIf="pageData"
  [footerText]="pageData.layoutData.footerText"
  [logoText]="pageData.layoutData.logoText"
  [breadcrumbText]="pageData.layoutData.breadcrumbText"
  [heroImageMain]="pageData.layoutData.heroImageMain"
  [heroImageSecondary]="pageData.layoutData.heroImageSecondary"
  [heroImageMainAlt]="pageData.layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="pageData.layoutData.heroImageSecondaryAlt"
  [heroTitle]="pageData.layoutData.heroTitle"
  [heroDesc]="pageData.layoutData.heroDesc"
  [hideScrollProgressBar]="true"
>
  <div class="subscribe-section subscribe-section-relative">
    <component-carousel-words [words]="pageData.pageContent.carouselWords" [speed]="60"/>
    <div class="subscribe-form">
      <div class="form-field">
        <component-input
          [placeholder]="pageData.pageContent.emailPlaceholder || 'Email Address'"
          [value]="email"
          (valueChange)="email = $event"
          type="email"
        ></component-input>
      </div>
      <div class="form-field">
        <component-button
          [text]="pageData.pageContent.submitButtonText || 'Subscribe'"
          (click)="onSubmit()"
        ></component-button>
      </div>
      <div *ngIf="isSuccess" class="success-message">
        {{ pageData.pageContent.successMessage || 'Thank you for subscribing! You\'ll receive our next newsletter soon.' }}
      </div>
      <div *ngIf="isError" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</hero-layout>
