<div class="card-row">
  <div class="card-row-item card-row-item-primary">
    <div class="card-row-content">
      <div class="card-row-top">
        <div class="row-content">
          <div class="row-text-wrapper">
            <div class="property-content">
              <div class="property-item">
                <div class="property-item-bg property-item-bg-primary"></div>
                <div class="property-item-bg property-item-bg-gradient"></div>
                <div class="property-text-wrapper">
                  <div class="property-name">
                    <div>Project</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-lines-wrapper">
              <div class="lines-component">
                <div class="line line-1"></div>
                <div class="line line-2"></div>
                <div class="line line-3"></div>
                <div class="line line-4"></div>
                <div class="line line-5"></div>
                <div class="line line-6"></div>
                <div class="line line-7"></div>
              </div>
            </div>
            <div class="row-text-wrapper">
              <div class="row-text">
                <h3 class="row-heading">{{ project.title }}</h3>
                <div>{{ project.description }}</div>
              </div>
            </div>
          </div>
          <div class="property-group">
            <div class="property-content">
              <div class="property-item">
                <div class="property-item-bg property-item-bg-primary"></div>
                <div class="property-item-bg property-item-bg-gradient"></div>
                <div class="property-text-wrapper">
                  <div class="property-name">
                    <div>Type</div>
                  </div>
                  <div class="property-value">
                    <div>{{ project.projectType }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="property-content">
              <div class="property-item">
                <div class="property-item-bg property-item-bg-primary"></div>
                <div class="property-item-bg property-item-bg-gradient"></div>
                <div class="property-text-wrapper">
                  <div class="property-name">
                    <div>Date</div>
                  </div>
                  <div class="property-value">
                    <div>{{ formattedDate }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="property-content">
              <div class="property-item">
                <div class="property-item-bg property-item-bg-primary"></div>
                <div class="property-item-bg property-item-bg-gradient"></div>
                <div class="property-text-wrapper">
                  <div class="property-name">
                    <div>Tags</div>
                  </div>
                  <div class="property-value">
                    <div>{{ project.tags.join(', ') }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-row-bottom">
        <div class="card-image-wrapper">
          <div class="card-image-hover">
            <img [src]="project.featuredImage" loading="lazy" [alt]="project.featuredImage" class="card-image card-image-primary">
            <img [src]="project.featuredImage" loading="lazy" [alt]="project.featuredImage" class="card-image card-image-secondary">
          </div>
          <div class="card-overlay-wrapper">
            <div class="card-overlay-first">
              <div class="card-overlay card-overlay-project"></div>
            </div>
            <div class="card-overlay-second">
              <div class="card-overlay card-overlay-blog"></div>
            </div>
          </div>
          <div class="card-button-wrapper">
            <div class="card-button card-button-secondary">
              <img loading="lazy" src="assets/images/arrow-right-up-long-line-primary.svg" alt="Arrow Right Up" class="card-button-icon">
              <div class="card-button-absolute card-button-absolute-primary">
                <img loading="lazy" src="assets/images/arrow-right-up-long-line-secondary.svg" alt="Arrow Right Up" class="card-button-icon">
              </div>
            </div>
          </div>
          <div class="card-scroll card-scroll-primary"></div>
        </div>
        <div class="row-content row-content-button">
          <div class="card-row-text-wrapper">
            <div class="card-row-text">
              <div>View Project</div>
            </div>
            <div class="card-row-text card-row-text-absolute">
              <div>View Project</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="['/projects', project.slug]" class="card-row-item-link card-row-item-link-project w-inline-block"></a>
  </div>
</div>
