<hero-layout
  *ngIf="contactPageData"
  [footerText]="contactPageData.layoutData.footerText"
  [logoText]="contactPageData.layoutData.logoText"
  [breadcrumbText]="contactPageData.layoutData.breadcrumbText"
  [heroImageMain]="contactPageData.layoutData.heroImageMain"
  [heroImageSecondary]="contactPageData.layoutData.heroImageSecondary"
  [heroImageMainAlt]="contactPageData.layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="contactPageData.layoutData.heroImageSecondaryAlt"
  [heroTitle]="contactPageData.layoutData.heroTitle"
  [heroDesc]="contactPageData.layoutData.heroDesc"
  [hideScrollProgressBar]="true"
>
  <div class="contact-section contact-section-relative">
    <component-carousel-words [words]="contactPageData.pageContent.carouselWords" [speed]="60" />

    <div class="contact-form">
      <div class="form-field">
        <component-input
          [placeholder]="'Name *'"
          [value]="name"
          [required]="true"
          (valueChange)="name = $event"
        ></component-input>
      </div>
      <div class="form-field">
        <component-input
          [placeholder]="'Email Address *'"
          [value]="email"
          [required]="true"
          (valueChange)="email = $event"
        ></component-input>
      </div>
      <div class="form-field">
        <component-textarea
          [placeholder]="'Message'"
          [value]="message"
          (valueChange)="message = $event"
        ></component-textarea>
      </div>
      <div class="form-field">
        <component-button
          [text]="getSubmitButtonText()"
          [disabled]="isSubmitting"
          (click)="onSubmit()"
        ></component-button>
      </div>
      <div *ngIf="isSuccess" class="success-message">
        {{ getSuccessMessage() }}
      </div>
      <div *ngIf="isError" class="error-message">
        {{ getErrorMessage() }}
      </div>
    </div>
  </div>

  <div class="contact-tiles-wrapper">
    <component-contact-tiles [tiles]="contactPageData.contactTiles"></component-contact-tiles>
  </div>
</hero-layout>
