<hero-layout
  [footerText]="'LUCH is a fresh and innovative CMS template ideal for creating a portfolio or personal blog.'"
  [logoText]="'Luch'"
  [breadcrumbText]="'Contact'"
  [heroImageMain]="'assets/images/Abstract-Gradient-Art_1Abstract Gradient Art.avif'"
  [heroImageSecondary]="'assets/images/Astronaut-Woman-in-Spacecraft_1Astronaut Woman in Spacecraft.avif'"
  [heroImageMainAlt]="'Abstract Gradient Art'"
  [heroImageSecondaryAlt]="'Astronaut in Space Suit'"
  [heroTitle]="'Let\'s connect!'"
  [heroDesc]="'Feel free to reach out for collaborations, inquiries or just to chat about design.'"
  [hideScrollProgressBar]="true"
>
  <div class="contact-section contact-section-relative">
    <component-carousel-words [words]="carouselWords" [speed]="60" />

    <form class="contact-form">
      <div class="form-field">
        <component-input
          [placeholder]="'Name'"
          [value]="name"
          (valueChange)="name = $event"
        ></component-input>
      </div>
      <div class="form-field">
        <component-input
          [placeholder]="'Email Address'"
          [value]="email"
          (valueChange)="email = $event"
        ></component-input>
      </div>
      <div class="form-field">
        <component-textarea
          [placeholder]="'Message'"
          [value]="message"
          (valueChange)="message = $event"
        ></component-textarea>
      </div>
      <div class="form-field">
        <component-button
          [text]="'Submit Now'"
          [type]="'submit'"
        ></component-button>
      </div>
      <div *ngIf="isSuccess" class="success-message">
        Thank you! Your submission has been received successfully. We’ll get back to you shortly—stay tuned!
      </div>
      <div *ngIf="isError" class="error-message">
        Oops! Something went wrong while submitting the form. Please fill in all fields.
      </div>
    </form>
  </div>

  <div class="contact-tiles-wrapper">
    <component-contact-tiles [tiles]="contactTiles"></component-contact-tiles>
  </div>
</hero-layout>
