<default-layout
  [footerText]="footerText"
  [heroImageMain]="heroImageMain"
  [heroImageMainAlt]="heroImageMainAlt"
  [logoText]="logoText"
  [breadcrumbText]="breadcrumbText"
  [showHeader]="false"
  [preventPicChange]="true"
>
  <div class="flow-grid flow-grid-menu" [@menuTile]="animationState">
    <div
      class="flow-item-wrapper"
      *ngFor="let tile of menuTiles; let i = index"
      [id]="getFlowItemId(i)"
    >
      <div class="flow-item">
        <a [routerLink]="tile.link" class="flow-link"></a>

        <div class="flow-background-image" *ngIf="tile.image">
          <img [src]="tile.image" [alt]="tile.imageAlt" class="background-image" />
        </div>

        <div class="flow-icon-wrapper">
          <div class="flow-icon">
            <img [src]="tile.icon" [alt]="tile.iconAlt" class="icon-image" />
          </div>
        </div>

        <div class="row-content-title">
          <h3 class="tile-title">{{ tile.title }}</h3>
        </div>

        <div class="flow-scroll"></div>
        <div class="flow-overlay"></div>
      </div>
    </div>
  </div>
</default-layout>
