<default-layout
  *ngIf="notFoundPageData"
  [hideScrollProgressBar]="true"
  [showHeader]="false"
  [showFooter]="true"
  [heroImageMain]="notFoundPageData.layoutData.heroImageMain"
  [heroImageMainAlt]="notFoundPageData.layoutData.heroImageMainAlt"
  [heroTitle]="notFoundPageData.layoutData.heroTitle"
>

  <div class="not-found-container">
    <div class="not-found-content" [@fadeInUpStagger]="animationState">
      <h1 class="not-found-title text-animate">{{ notFoundPageData.pageContent.title }}</h1>
      <p class="text-animate">{{ notFoundPageData.pageContent.content }}</p>
      <div class="not-found-button">
        <component-button-link
          iconType="button"
          buttonBg="#fff"
          [title]="'Go to main page'"
          (buttonClick)="goToMainPage()"
        ></component-button-link>
      </div>
    </div>
  </div>
</default-layout>
