<section class="section">
  <div class="global-wrapper">
    <div class="row-wrapper row-wrapper-sticky">
      <component-navigation
        [footerText]="footerText"
        [heroImageMain]="heroImageMain"
        [heroImageSecondary]="heroImageSecondary"
        [heroImageMainAlt]="heroImageMainAlt"
        [heroImageSecondaryAlt]="heroImageSecondaryAlt"
        [logoText]="logoText"
        [breadcrumbText]="breadcrumbText"
        [heroTitle]="heroTitle"
        [heroDesc]="heroDesc"
        [scrollProgress]="scrollProgress"
        [isFooterReached]="isFooterReached"
        [hideScrollProgressBar]="hideScrollProgressBar"
        [preventPicChange]="preventPicChange"
        [socialLinks]="socialLinks"
        [copyrightEmail]="copyrightData.copyrightEmail"
        [copyrightText]="copyrightData.copyrightText"
      >
      </component-navigation>
    </div>
    <div class="row-wrapper row-wrapper-alt">
      <div id="content-row" class="row">
        <div class="row-item">
          <div class="row-content row-content-sticky">
            <!-- Content projection -->
            <ng-content></ng-content>
            <div class="footer-section">
              <component-footer [socialLinks]="socialLinks" [copyrightLinks]="copyrightData.copyrightLinks" [copyrightText]="copyrightData.copyrightText"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
