<div class="row-content row-content-heading">
  <div class="row-heading">
    <div class="row-text-wrapper">
      <div class="row-text">
        <h2 class="row-heading">{{ title }}</h2>
      </div>
    </div>
  </div>
  <div class="row-heading-line"></div>
  <a *ngIf="!isExternal" [href]="link" [ngClass]="linkClass || 'link-block w-inline-block'">
    <p>{{ linkText }}</p>
    <div class="link-icon-wrapper">
      <div class="link-icon-line"></div>
    </div>
  </a>
  <a *ngIf="isExternal" [href]="link" target="_blank" [ngClass]="linkClass || 'link-block w-inline-block'">
    <p>{{ linkText }}</p>
    <div class="link-icon-wrapper">
      <div class="link-icon-line"></div>
    </div>
  </a>
</div> 