.component-input {
  min-height: 2.369rem;
  margin-bottom: 0.75rem;
  padding: 0.75rem 1rem;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  color: #8a8a8a;
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-family: 'Inter Tight', sans-serif;
  box-sizing: border-box;
  transition: border-color 0.2s;
  font-size: 14px;
  line-height: 1.42857143;

  &:hover,
  &:active {
    border-color: #2121211a;
  }

  &:focus {
    border-color: #a6a6a6;
    color: #212121;
    outline: none;
  }

  &:focus-visible {
    border-color: #a6a6a6;
  }

  &::placeholder {
    color: #8a8a8a;
  }
} 