<default-layout
  [footerText]="layoutData.footerText"
  [heroImageMain]="layoutData.heroImageMain"
  [heroImageSecondary]="layoutData.heroImageSecondary"
  [heroImageMainAlt]="layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="layoutData.heroImageSecondaryAlt"
  [logoText]="layoutData.logoText"
  [breadcrumbText]="layoutData.breadcrumbText"
  [heroTitle]="layoutData.heroTitle"
  [showHeader]="false"
  [showFooter]="true"
  [preventPicChange]="true"
>
  <section class="privacy-section">
    <div class="privacy-content">
      <div class="privacy-text" [@fadeInUpStagger]="animationState">
        <div class="content-text">
          <h2 class="text-animate">{{ pageContent.title }}</h2>
          <p class="privacy-date text-animate">{{ pageContent.lastUpdated }}</p>

          <div *ngFor="let section of pageContent.sections">
            <h3 class="text-animate">{{ section.title }}</h3>
            <div class="text-animate" [innerHTML]="section.content"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</default-layout>
