<default-layout
  [footerText]="'LUCH is a fresh and innovative CMS template ideal for creating a portfolio or personal blog.'"
  [heroImageMain]="'assets/images/Abstract-Gradient-Art_1Abstract Gradient Art.avif'"
  [heroImageSecondary]="'assets/images/Abstract-Gradient-Art_1Abstract Gradient Art.avif'"
  [heroImageMainAlt]="'Abstract Gradient Art'"
  [heroImageSecondaryAlt]="'Abstract Gradient Art'"
  [logoText]="'Luch'"
  [breadcrumbText]="'Privacy'"
  [heroTitle]="'Privacy Policy'"
  [showHomePageLink]="true"
  [showHeader]="false"
  [showFooter]="true"
  [preventPicChange]="true"
>
  <section class="privacy-section">
    <div class="privacy-content">
      <div class="privacy-text" [@fadeInUpStagger]="animationState">
        <div class="content-text">
          <h2 class="text-animate">{{ pageContent.title }}</h2>
          <p class="privacy-date text-animate">{{ pageContent.lastUpdated }}</p>
          
          <div *ngFor="let section of pageContent.sections">
            <h3 class="text-animate">{{ section.title }}</h3>
            <ng-container *ngFor="let item of section.content">
              <p class="text-animate" *ngIf="item.type === 'paragraph'">{{ item.text }}</p>
              <p class="text-animate" *ngIf="item.type === 'paragraph_with_link'">
                {{ item.text }} <a [href]="item.linkUrl">{{ item.linkText }}</a>.
              </p>
              <ul class="text-animate" *ngIf="item.type === 'list'">
                <li *ngFor="let listItem of item.items">{{ listItem }}</li>
              </ul>
            </ng-container>
          </div>
        </div>
        
        <div class="privacy-additional">
          <div class="content-text">
            <h3 class="text-animate">{{ pageContent.cookiePolicy.title }}</h3>
            <ng-container *ngFor="let item of pageContent.cookiePolicy.content">
              <p class="text-animate" *ngIf="item.type === 'paragraph'">{{ item.text }}</p>
              <h4 class="text-animate" *ngIf="item.type === 'subtitle'">{{ item.text }}</h4>
              <ul class="text-animate" *ngIf="item.type === 'list'">
                <li *ngFor="let listItem of item.items" [innerHTML]="listItem"></li>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</default-layout> 