<div class="nav" *ngIf="showNavigation">
  <div class="nav-menu" [@navMenuSlide]="isMenuOpen ? 'open' : 'closed'">
    <div class="nav-links-wrapper">
      <a *ngFor="let link of links"
         [href]="link.link"
         class="nav-link">
        <div class="nav-link-title">{{ link.title }}</div>
        <div class="nav-link-description">{{ link.description }}</div>
      </a>
    </div>
    <div class="nav-footer">
      <div class="nav-footer-block">
        <div class="row-text-max row-text-max-3">
          <div class="nav-footer-text">{{ footerText }}</div>
        </div>
        <div class="link-wrapper">
          <component-link-block
            *ngFor="let link of navFooterLinks; let i = index"
            [link]="link.link"
            [title]="link.title"
            textPosition="right"
            iconType="link"
            (mouseenter)="onNavFooterLinkHover(i)"
            (mouseleave)="onNavFooterLinkHover(null)"
            [class.dimmed]="hoveredNavFooterIndex !== null && hoveredNavFooterIndex !== i">
          </component-link-block>
        </div>
        <div class="nav-footer-text">{{ copyrightText }}</div>
      </div>
      <div class="nav-socials-wrapper">
        <a *ngFor="let social of socialLinks"
           [href]="social.url"
           target="_blank"
           class="nav-socials-link">
          <div class="nav-socials-link-icon">
            <img width="24"
                 loading="lazy"
                 [alt]="social.alt"
                 [src]="social.icon"
                 class="nav-socials-link-image">
          </div>
        </a>
      </div>
      <div class="nav-menu-divider"></div>
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="nav-container">
      <div class="nav-left">
        <div class="nav-burger"
             (click)="toggleMenu()"
             [@burgerMenu]="isMenuOpen ? 'open' : 'closed'"
             [attr.data-state]="isMenuOpen ? 'open' : 'closed'">
          <div class="nav-burger-top"></div>
          <div class="nav-burger-mid"></div>
          <div class="nav-burger-bottom"></div>
        </div>
        <div class="header-breadcrumb">
          <a href="/" class="logo-link">
            <div class="logo-heading-wrapper">
              <div class="logo-heading logo-heading-primary">{{ logoText }}</div>
              <div class="logo-heading logo-heading-secondary">{{ logoText }}</div>
            </div>
          </a>
          <div class="breadcrumb-divider">
            <div class="breadcrumb-divider-circle"></div>
            <div class="breadcrumb-divider-line"></div>
            <div class="breadcrumb-divider-line breadcrumb-divider-line-alt"></div>
          </div>
          <a [href]="breadcrumbTextUrl" class="breadcrumb-link">
            <div class="breadcrumb-text-wrapper">
              <div class="breadcrumb-text breadcrumb-text-primary">{{ breadcrumbText }}</div>
              <div class="breadcrumb-text breadcrumb-text-secondary">{{ breadcrumbText }}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-bg"></div>
</div>

<div id="hero-row" class="row">
  <div id="hero-background" class="row-bg-wrapper">
    <div data-w-id="hero-background-animation" class="row-bg-item row-bg-item-desktop" [class.footer-background-active]="isFooterBackgroundActive">
      <div class="row-bg-change">
        <div class="row-bg-change-image row-bg-change-image-main">
          <div class="row-bg-global">
            <div class="row-bg">
              <div class="row-bg-image-grain"></div>
              <div class="row-bg-image-overlay"></div>
              <div class="row-bg-white-fade"></div>
              <img width="Auto"
                   [alt]="heroImageMainAlt"
                   [src]="heroImageMain"
                   loading="lazy"
                   class="row-bg-image">
            </div>
          </div>
        </div>
        <div class="row-bg-change-image row-bg-change-image-absolute">
          <div class="row-bg-global">
            <div class="row-bg">
              <div class="row-bg-image-grain"></div>
              <div class="row-bg-image-overlay"></div>
              <div class="row-bg-white-fade"></div>
              <img width="Auto"
                   [alt]="heroImageSecondaryAlt"
                   [src]="heroImageSecondary"
                   loading="lazy"
                   class="row-bg-image">
            </div>
          </div>
        </div>
        <div class="main-overlay"></div>
      </div>
    </div>
    <div class="row-bg-item row-bg-item-mobile">
      <div class="row-bg-global">
        <div class="row-bg">
          <div class="row-bg-image-grain"></div>
          <div class="row-bg-image-overlay"></div>
          <img width="Auto"
               [alt]="heroImageMainAlt"
               [src]="heroImageMain"
               loading="lazy"
               class="row-bg-image">
        </div>
      </div>
    </div>
  </div>
  <div class="row-item">
    <div class="row-hero-header">
      <div class="row-hero-heading">
        <h1>{{ heroTitle }}</h1>
        <p *ngIf="heroDesc" class="row-hero-desc">{{ heroDesc }}</p>
      </div>
    </div>
    <div *ngIf="!hideScrollProgressBar" class="scroll-row-wrapper">
      <div class="scroll-row-text scroll-row-text-more">
        <div class="scroll-row-icon">
          <img src="assets/images/scroll-to-bottom-line.svg"
               loading="lazy"
               alt="Scroll to bottom icon"
               class="scroll-row-icon-image">
        </div>
        <div>Scroll for more</div>
      </div>
      <div class="scroll-line" [ngStyle]="getScrollLineStyle()"></div>
      <a (click)="scrollToTop()" class="scroll-row-text scroll-row-text-back">
        <div>Back to Top</div>
        <div class="scroll-row-icon">
          <img src="assets/images/arrow-up-line-white.svg"
               loading="lazy"
               alt="Arrow Up Icon"
               class="scroll-row-icon-image">
        </div>
      </a>
    </div>
  </div>
</div>
