:host {
  display: block;
  width: 100%;
}

.hero-button {
  animation: scaleInOnLoad 0.7s ease-out;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.375s cubic-bezier(.165, .84, .44, 1), border-color 0.375s cubic-bezier(.165, .84, .44, 1), box-shadow 0.375s cubic-bezier(.165, .84, .44, 1), background-color 0.375s cubic-bezier(.165, .84, .44, 1), color 0.375s cubic-bezier(.165, .84, .44, 1), opacity 0.375s cubic-bezier(.165, .84, .44, 1);
}

.hero-button:hover {
  transform: scale(1.1);
}

@keyframes scaleInOnLoad {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
} 