<section id="hero-section" class="section section-scroll">
  <div class="row-content row-content-hero">
    <div class="row-bg-global">
      <div class="row-bg row-bg-body"></div>
    </div>
    <div class="hero-text-wrapper">
      <div class="row-text-wrapper">
        <div class="row-text-max row-text-max-6">
          <div class="row-text-wrapper">
            <div class="row-text">
              <h2 class="row-heading">{{ heroTitle }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="hero-button-animation" class="row-bg-main-wrapper">
      <div class="hero-button-wrapper">
        <a href="/siteflow" target="_self" class="hero-button">get started</a>
      </div>
      <div class="row-bg-main-lines">
        <div class="row-bg-main-line-v star-line-1"></div>
        <div class="row-bg-main-line-v star-line-2"></div>
        <div class="row-bg-main-line-v star-line-3"></div>
        <div class="row-bg-main-line-v star-line-4"></div>
      </div>
    </div>
    <div class="hero-text-wrapper">
      <div class="row-text-wrapper row-text-wrapper-bottom">
        <nav class="button-wrapper button-wrapper-grid">
          <component-link-block
            *ngFor="let link of navigationLinks; let i = index"
            [link]="link.link"
            [title]="link.title"
            textPosition="right"
            iconType="button"
            (mouseenter)="onNavigationLinkHover(i)"
            (mouseleave)="onNavigationLinkHover(null)"
            [class.dimmed]="hoveredNavigationIndex !== null && hoveredNavigationIndex !== i">
          </component-link-block>
        </nav>
        <div class="link-wrapper link-wrapper-alt">
          <component-link-block
            *ngFor="let link of legalLinks; let i = index"
            [link]="link.link"
            [title]="link.title"
            textPosition="left"
            iconType="link"
            (mouseenter)="onLegalLinkHover(i)"
            (mouseleave)="onLegalLinkHover(null)"
            [class.dimmed]="hoveredLegalIndex !== null && hoveredLegalIndex !== i">
          </component-link-block>
        </div>
      </div>
    </div>
  </div>
</section> 