<hero-layout
  [footerText]="'LUCH is a fresh and innovative CMS template ideal for creating a portfolio or personal blog.'"
  [email]="'hello at yourdomain.com'"
  [templateLink]="'https://webflow.com/templates/designers/valdis-zhvaginsh'"
  [logoText]="'Luch'"
  [breadcrumbText]="'Blog'"
  [heroImageMain]="'assets/images/Abstract-Gradient-Art_1Abstract Gradient Art.avif'"
  [heroImageSecondary]="'assets/images/Futuristic-Cabin-Landscape_1Futuristic Cabin Landscape.avif'"
  [heroImageMainAlt]="'Abstract Gradient Art'"
  [heroImageSecondaryAlt]="'Futuristic Cabin Landscape'"
  [heroTitle]="'Collection of my posts'"
  [heroDesc]="'Welcome to my blog! Here you will find articles, insights, and stories about AI, design, and creativity.'"
  [showHomePageLink]="true"
  [hideScrollProgressBar]="true"
>
  <div class="search-wrapper">
    <component-input
      [placeholder]="'Search posts...'"
      [value]="searchTerm"
      (valueChange)="onSearch($event)"
    />
  </div>
  
  <div
    class="posts-list-wrapper"
    *ngIf="paginatedPosts.length > 0; else noPosts"
    [@blogPost]="animationState"
  >
    <component-post-card 
      *ngFor="let post of paginatedPosts" 
      [post]="post">
    </component-post-card>
  </div>
  
  <ng-template #noPosts>
    <div class="no-posts-message">
      No posts found.
    </div>
  </ng-template>
  
  <div
    class="posts-pagination-wrapper"
    *ngIf="paginatedPosts.length > 0"
  >
    <component-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </component-pagination>
  </div>
</hero-layout> 