<hero-layout
  *ngIf="blogPageData"
  [footerText]="blogPageData.layoutData.footerText"
  [email]="'hello at yourdomain.com'"
  [logoText]="blogPageData.layoutData.logoText"
  [breadcrumbText]="blogPageData.layoutData.breadcrumbText"
  [heroImageMain]="blogPageData.layoutData.heroImageMain"
  [heroImageSecondary]="blogPageData.layoutData.heroImageSecondary"
  [heroImageMainAlt]="blogPageData.layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="blogPageData.layoutData.heroImageSecondaryAlt"
  [heroTitle]="blogPageData.layoutData.heroTitle || blogPageData.pageContent.title"
  [heroDesc]="blogPageData.pageContent.description"
  [hideScrollProgressBar]="true"
>
  <div class="search-wrapper">
    <component-input
      [placeholder]="'Search posts...'"
      [value]="searchTerm"
      (valueChange)="onSearch($event)"
    />
  </div>

  <div
    class="posts-list-wrapper"
    *ngIf="paginatedPosts.length > 0; else noPosts"
    [@blogPost]="animationState"
  >
    <component-post-card
      *ngFor="let post of paginatedPosts"
      [post]="post">
    </component-post-card>
  </div>

  <ng-template #noPosts>
    <div class="no-posts-message">
      <p *ngIf="searchTerm">No posts found for "{{ searchTerm }}".</p>
      <p *ngIf="!searchTerm">No posts found.</p>
    </div>
  </ng-template>

  <!-- Pagination -->
  <div
    class="posts-pagination-wrapper"
    *ngIf="paginatedPosts.length > 0 && totalPages > 1"
  >
    <component-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </component-pagination>
  </div>
</hero-layout>
