<default-layout
  [footerText]="'Default footer text'"
  [heroImageMain]="'assets/images/Contemplative-Astronaut-Woman.webp'"
  [heroImageSecondary]="'assets/images/Astronaut-in-Space_1Astronaut in Space.webp'"
  [heroImageMainAlt]="'Contemplative Astronaut Woman'"
  [heroImageSecondaryAlt]="'Astronaut in Space'"
  [logoText]="'LUCH'"
  [breadcrumbText]="'Home'"
  [heroTitle]="'Welcome to LUCH'"
  [templateLink]="'https://webflow.com/templates/designers/valdis-zhvaginsh'"
>

  <!-- Marquee Section -->
  <component-marquee-carousel 
    text="LUCH Framework" 
    direction="left" 
    [speed]="60" 
    [repeatCount]="8">
  </component-marquee-carousel>
  
  <!-- Marquee Section Right -->
  <component-marquee-carousel 
    text="Who LUCH is for" 
    direction="right" 
    [speed]="60" 
    [repeatCount]="8">
  </component-marquee-carousel>

  <!-- Latest Projects Section -->
  <section class="section section-scroll">
    <div class="row-content row-content-scroll">
      <div class="row-bg-global">
        <div class="row-bg row-bg-secondary"></div>
      </div>
      <div class="row-header-wrapper row-header-wrapper-secondary">
        <div class="row-bg-global">
          <div class="row-bg row-bg-secondary"></div>
        </div>
        <div class="row">
          <div class="row-item">
            <component-section-title 
              title="Latest Projects" 
              link="/projects" 
              linkText="All Projects" 
              linkClass="link-block w-inline-block">
            </component-section-title>
          </div>
        </div>
      </div>
      <div class="cards-list-wrapper">
        <div class="cards-list cards-list-scroll" [@project]="projectsAnimationState">
          <component-project-card 
            *ngFor="let project of projects" 
            [project]="project">
          </component-project-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest Posts Section -->
  <section class="section section-scroll">
    <div class="row-content row-content-scroll">
      <div class="row-bg-global">
        <div class="row-bg row-bg-secondary"></div>
      </div>
      <div class="row-header-wrapper row-header-wrapper-secondary">
        <div class="row-bg-global">
          <div class="row-bg row-bg-secondary"></div>
        </div>
        <div class="row">
          <div class="row-item">
            <component-section-title 
              title="Latest Posts" 
              link="/blog" 
              linkText="All Posts" 
              linkClass="link-block w-inline-block">
            </component-section-title>
          </div>
        </div>
      </div>
      <div class="cards-list-wrapper">
        <div class="cards-list cards-list-scroll" [@blogPost]="postsAnimationState">
          <component-post-card 
            *ngFor="let post of posts" 
            [post]="post">
          </component-post-card>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section section-scroll">
    <div class="row-content row-content-scroll">
      <div class="row-header-wrapper row-header-wrapper-secondary">
        <div class="row">
          <div class="row-item">
            <component-section-title 
              title="Why LUCH?" 
              link="/menu" 
              linkText="Menu" 
              linkClass="link-block w-inline-block"
              [isExternal]="true">
            </component-section-title>
          </div>
        </div>
      </div>
      <div class="row-content">
        <component-whys-section [whysSection]="whysSection"></component-whys-section>
      </div>
    </div>
  </section>

  <!-- FAQ Section -->
  <section class="section section-scroll">
    <div class="row-content row-content-scroll">
      <div class="row-header-wrapper row-header-wrapper-secondary">
        <div class="row">
          <div class="row-item">
            <component-section-title 
              title="FAQ" 
              link="/contact" 
              linkText="Ask a Question" 
              linkClass="link-block w-inline-block">
            </component-section-title>
          </div>
        </div>
      </div>
      <div class="accordion-wrapper">
        <ul role="list" class="accordion-list w-list-unstyled">
          <component-faq 
            *ngFor="let faq of faqQuestions" 
            [faq]="faq">
          </component-faq>
        </ul>
      </div>
    </div>
  </section>
</default-layout> 
