<hero-layout
  *ngIf="projectsPageData"
  [email]="'hello at yourdomain.com'"
  [logoText]="projectsPageData.layoutData.logoText"
  [breadcrumbText]="projectsPageData.layoutData.breadcrumbText"
  [heroImageMain]="projectsPageData.layoutData.heroImageMain"
  [heroImageSecondary]="projectsPageData.layoutData.heroImageSecondary"
  [heroImageMainAlt]="projectsPageData.layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="projectsPageData.layoutData.heroImageSecondaryAlt"
  [heroTitle]="projectsPageData.layoutData.heroTitle || projectsPageData.pageContent.title"
  [heroDesc]="projectsPageData.pageContent.description"
  [hideScrollProgressBar]="true"
>
  <div class="search-wrapper">
    <component-input
      [placeholder]="'Search projects...'"
      [value]="searchTerm"
      (valueChange)="onSearch($event)"
    />
  </div>

  <div
    class="projects-list-wrapper"
    *ngIf="paginatedProjects.length > 0; else noProjects"
    [@project]="animationState"
  >
    <component-project-card
      *ngFor="let project of paginatedProjects"
      [project]="project">
    </component-project-card>
  </div>

  <ng-template #noProjects>
    <div class="no-projects-message">
      <p *ngIf="searchTerm">No projects found for "{{ searchTerm }}".</p>
      <p *ngIf="!searchTerm">No projects found.</p>
    </div>
  </ng-template>

  <div
    class="projects-pagination-wrapper"
    *ngIf="paginatedProjects.length > 0 && totalPages > 1"
  >
    <component-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </component-pagination>
  </div>
</hero-layout>
