<li class="accordion-list-item">
  <div class="accordion-item">
    <div class="accordion-trigger" (click)="toggleExpansion()">
      <div class="accordion-header">
        <div class="row-text-wrapper">
          <div class="row-text">
            <h3 class="row-heading row-heading-small">{{ faq.question }}</h3>
          </div>
        </div>
      </div>
      <div class="accordion-arrow" [class.expanded]="isExpanded">
        <div class="accordion-arrow-icon">
          <div class="accordion-arrow-line"></div>
          <div class="accordion-arrow-line accordion-arrow-line-alt"></div>
        </div>
      </div>
    </div>
    <div class="accordion-content" [class.expanded]="isExpanded" [style.height]="contentHeight">
      <div class="accordion-content-spacer" #content>
        <div class="row-text-max row-text-max-5">
          <div class="row-text-wrapper">
            <div class="row-text">
              <p>{{ faq.answer }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-line"></div>
  </div>
</li> 