
.accordion-trigger {
  cursor: pointer;
  transition: all 0.375s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  &:hover {
    background-color: rgba(33, 33, 33, 0.02);
  }
}

.accordion-content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: height 0.375s cubic-bezier(0.165, 0.84, 0.44, 1), 
              opacity 0.375s cubic-bezier(0.165, 0.84, 0.44, 1), 
              transform 0.375s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  &.expanded {
    opacity: 1;
    transform: translateY(0);
  }
}

.accordion-content-spacer {
  padding-bottom: var(--sizes-global--1-333);
}

.accordion-arrow {
  transition: transform 0.375s cubic-bezier(0.165, 0.84, 0.44, 1);
  
  &.expanded {
    transform: rotate(180deg);
  }
} 