<div class="flow-grid flow-grid-1-col-mobile">
  <div class="flow-item-wrapper" *ngFor="let tile of tiles">
    <div class="flow-item flow-item-small">
      <a [href]="tile.link" target="_blank" class="flow-link"></a>
      <div class="row-content">
        <div class="row-text-wrapper row-text-wrapper-bento">
          <div class="flow-icon-wrapper flow-icon-wrapper-gradient" *ngIf="tile.iconUrl">
            <div class="flow-icon"><img [src]="tile.iconUrl" [alt]="tile.title + ' icon'" class="icon-image" /></div>
          </div>
          <div class="link-flow">
            <div class="flow-link-text-wrapper">
              <div class="flow-link-text">
                <p>{{ tile.title }}</p>
              </div>
            </div>
            <div class="flow-link-icon-wrapper">
              <div class="flow-link-icon-line flow-link-icon-line-primary"></div>
            </div>
          </div>
        </div>
        <div class="row-text-wrapper" *ngIf="tile.content">
          <div class="row-text">
            <p class="row-heading row-heading-small">{{ tile.content }}</p>
          </div>
        </div>
      </div>
      <div class="flow-scroll"></div>
      <div class="flow-overlay"></div>
    </div>
  </div>
</div>
