<a 
  [href]="link" 
  class="w-inline-block" 
  [ngClass]="iconType === 'button' ? 'button-link' : 'link-block'"
>
  <ng-container *ngIf="textPosition === 'left'">
    <p>{{ title }}</p>
  </ng-container>
  <div 
    *ngIf="iconType !== 'none'"
    [ngClass]="iconType === 'button' ? 'button-icon-wrapper' : 'link-icon-wrapper'"
  >
    <div
      [ngClass]="iconType === 'button' ? 'button-icon-circle' : 'link-icon-line'"
    ></div>
  </div>
  <ng-container *ngIf="textPosition === 'right'">
    <p>{{ title }}</p>
  </ng-container>
</a>
