<a 
  [href]="link" 
  class="w-inline-block" 
  [ngClass]="{
    'button-link': iconType === 'button',
    'link-block': iconType !== 'button',
    'icon-left': textPosition === 'right',
    'icon-right': textPosition === 'left'
  }"
>
  <ng-container *ngIf="textPosition === 'left'">
    <p>{{ title }}</p>
  </ng-container>
  <div 
    *ngIf="iconType !== 'none'"
    [ngClass]="iconType === 'button' ? 'button-icon-wrapper' : 'link-icon-wrapper'"
  >
    <div
      [ngClass]="iconType === 'button' ? 'button-icon-circle' : 'link-icon-line'"
    ></div>
  </div>
  <ng-container *ngIf="textPosition === 'right'">
    <p>{{ title }}</p>
  </ng-container>
</a>
