<section class="section">
  <div class="global-wrapper">
    <div class="row-wrapper row-wrapper-sticky">
      <component-navigation
        [footerText]="'LUCH is a fresh and innovative CMS template ideal for creating a portfolio or personal blog.'"
        [heroImageMain]="'assets/images/Contemplative-Astronaut-Woman.webp'"
        [heroImageSecondary]="'assets/images/Contemplative-Astronaut-Woman.webp'"
        [heroImageMainAlt]="'Contemplative Astronaut Woman'"
        [heroImageSecondaryAlt]="'Contemplative Astronaut Woman'"
        [logoText]="'Luch'"
        [breadcrumbText]="'Blog'"
        [heroTitle]="'Modern Web Design Trends That Inspired the LUCH Template'"
        [heroDesc]="'A deep dive into the inspirations, trends, and creative process behind the LUCH blog template.'"
        [templateLink]="'https://webflow.com/templates/designers/valdis-zhvaginsh'"
        [showHomePageLink]="true"
        [scrollProgress]="scrollProgress"
        [isFooterReached]="isFooterReached"
        [preventPicChange]="true"
      >
      </component-navigation>
    </div>
    <div class="row-wrapper row-wrapper-alt">
      <div id="content-row" class="row">
        <div class="row-item">
          <div class="row-content row-content-sticky">
            <div class="blog-detail-wrapper" [ngClass]="{ 'fullscreen': isFullscreen }">
              <div class="blog-detail-header">
                <h2 class="blog-detail-title">{{ title }}</h2>
                <p class="blog-detail-description">{{ description }}</p>
                <div class="blog-detail-meta">
                  <span class="blog-detail-date">{{ date }}</span>
                  <div class="blog-detail-tags">
                    <span *ngFor="let tag of tags" class="blog-detail-tag" tabindex="0">{{ tag }}</span>
                  </div>
                </div>
              </div>
              <component-link
                type="button"
                iconType="button"
                buttonBg="#fff"
                [title]="isFullscreen ? 'Close Fullscreen' : 'Fullscreen'"
                (buttonClick)="toggleFullscreen()"
              ></component-link>
              <hr class="blog-detail-divider" />
              <ng-container *ngIf="toc.length > 0">
                <nav class="blog-detail-toc">
                  <div class="blog-detail-toc-title">Table of Contents</div>
                  <ul>
                    <li *ngFor="let item of toc" [ngClass]="{
                      'toc-h1': item.level === 1,
                      'toc-h2': item.level === 2,
                      'toc-h3': item.level === 3
                    }">
                      <a href="#" (click)="$event.preventDefault(); scrollToSection(item.id)"><span class="toc-number">{{ item.number }}.</span>&nbsp;{{ item.text }}</a>
                    </li>
                  </ul>
                </nav>
              </ng-container>
              <hr class="blog-detail-divider" />
              <div class="blog-detail-content" #contentRef [innerHTML]="blogContent">
              </div>
            </div>
            <div class="footer-section">
              <component-footer/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 