<section class="footer-section">
  <footer class="section section-footer">
    <div class="row-content row-content-footer">
      <div class="row-bg-global">
        <div class="row-bg row-bg-secondary"></div>
        <div class="row-bg row-bg-body"></div>
      </div>
      <div class="row-bg-main-wrapper">
        <div class="hero-button-wrapper">
          <a href="/menu" class="hero-button w-button">get started</a>
        </div>
        <div class="row-bg-main-lines">
          <div class="row-bg-main-line-v star-line-1"></div>
          <div class="row-bg-main-line-v star-line-2"></div>
          <div class="row-bg-main-line-v star-line-3"></div>
          <div class="row-bg-main-line-v star-line-4"></div>
        </div>
      </div>
      <div class="hero-text-wrapper">
        <div class="row-text-wrapper row-text-wrapper-footer">
          <nav class="button-wrapper button-wrapper-grid">
            <component-link-block
              *ngFor="let link of footerNavigationLinks; let i = index"
              [link]="link.link"
              [title]="link.title"
              textPosition="right"
              iconType="button"
              (mouseenter)="onNavigationLinkHover(i)"
              (mouseleave)="onNavigationLinkHover(null)"
              [class.dimmed]="hoveredNavigationIndex !== null && hoveredNavigationIndex !== i">
            </component-link-block>
          </nav>
          <div class="link-wrapper link-wrapper-alt">
            <component-link-block
              *ngFor="let link of footerLegalLinks; let i = index"
              [link]="link.link"
              [title]="link.title"
              textPosition="left"
              iconType="link"
              (mouseenter)="onLegalLinkHover(i)"
              (mouseleave)="onLegalLinkHover(null)"
              [class.dimmed]="hoveredLegalIndex !== null && hoveredLegalIndex !== i">
            </component-link-block>
          </div>
        </div>
      </div>
      <div class="hero-text-wrapper">
        <div class="row-text-wrapper row-text-wrapper-bottom">
          <div class="row-copyright">
            <div class="link-wrapper">
              <component-link-block
                *ngFor="let link of copyrightLinks; let i = index"
                [link]="link.link"
                [title]="link.title"
                textPosition="right"
                iconType="link"
                (mouseenter)="onCopyrightLinkHover(i)"
                (mouseleave)="onCopyrightLinkHover(null)"
                [class.dimmed]="hoveredCopyrightIndex !== null && hoveredCopyrightIndex !== i">
              </component-link-block>
            </div>
            <div class="row-text-wrapper">
              <div class="row-text">
                <p>{{ copyrightText }}<br></p>
              </div>
            </div>
          </div>
          <div class="nav-socials-wrapper">
            <a
              *ngFor="let socialLink of socialLinks"
              [href]="socialLink.url"
              target="_blank"
              class="nav-socials-link w-inline-block">
              <div class="nav-socials-link-icon">
                <img
                  width="24"
                  loading="lazy"
                  [alt]="socialLink.alt"
                  [src]="socialLink.icon"
                  class="nav-socials-link-image">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
