<section class="footer-section">
  <footer class="section section-footer">
    <div class="row-content row-content-footer">
      <div class="row-bg-global">
        <div class="row-bg row-bg-secondary"></div>
        <div class="row-bg row-bg-body"></div>
      </div>
      <div class="row-bg-main-wrapper">
        <div class="hero-button-wrapper">
          <a href="https://webflow.com/templates/designers/valdis-zhvaginsh" target="_blank" class="hero-button w-button">get started</a>
        </div>
        <div class="row-bg-main-lines">
          <div class="row-bg-main-line-v star-line-1"></div>
          <div class="row-bg-main-line-v star-line-2"></div>
          <div class="row-bg-main-line-v star-line-3"></div>
          <div class="row-bg-main-line-v star-line-4"></div>
        </div>
      </div>
      <div class="hero-text-wrapper">
        <div class="row-text-wrapper row-text-wrapper-footer">
          <nav class="button-wrapper button-wrapper-grid">
            <component-link
              *ngFor="let link of footerNavigationLinks"
              [link]="link.link"
              [title]="link.title"
              textPosition="right"
              iconType="button">
            </component-link>
          </nav>
          <div class="link-wrapper link-wrapper-alt">
            <component-link
              *ngFor="let link of footerLegalLinks"
              [link]="link.link"
              [title]="link.title"
              textPosition="left"
              iconType="link">
            </component-link>
          </div>
        </div>
      </div>
      <div class="hero-text-wrapper">
        <div class="row-text-wrapper row-text-wrapper-bottom">
          <div class="row-copyright">
            <div class="link-wrapper">
              <a href="https://webflow.com/@thevaldis" target="_blank" class="link-block w-inline-block">
                <div class="link-icon-wrapper">
                  <div class="link-icon-line link-icon-line-primary"></div>
                </div>
                <p>By Valdis Zhvaginsh</p>
              </a>
              <a href="https://try.webflow.com/9wyc5a5fesf6" target="_blank" class="link-block w-inline-block">
                <div class="link-icon-wrapper">
                  <div class="link-icon-line link-icon-line-primary"></div>
                </div>
                <p>Powered by Webflow</p>
              </a>
              <a href="https://webflow.com/templates/designers/valdis-zhvaginsh" target="_blank" class="link-block w-inline-block">
                <div class="link-icon-wrapper">
                  <div class="link-icon-line link-icon-line-primary"></div>
                </div>
                <p>Buy this template</p>
              </a>
            </div>
            <div class="row-text-wrapper">
              <div class="row-text">
                <p>© LUCH — 2025<br></p>
              </div>
            </div>
          </div>
          <div class="nav-socials-wrapper">
            <a href="https://try.webflow.com/9wyc5a5fesf6" target="_blank" class="nav-socials-link w-inline-block">
              <div class="nav-socials-link-icon"><img width="24" loading="lazy" alt="Twitter X" src="assets/images/twitter-x-line.svg" class="nav-socials-link-image"></div>
            </a>
            <a href="https://try.webflow.com/9wyc5a5fesf6" target="_blank" class="nav-socials-link w-inline-block">
              <div class="nav-socials-link-icon"><img width="24" loading="lazy" alt="Instagram" src="assets/images/instagram-line.svg" class="nav-socials-link-image"></div>
            </a>
            <a href="https://try.webflow.com/9wyc5a5fesf6" target="_blank" class="nav-socials-link w-inline-block">
              <div class="nav-socials-link-icon"><img width="24" loading="lazy" alt="Dribbble" src="assets/images/dribbble-line.svg" class="nav-socials-link-image"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section> 