<default-layout
  *ngIf="aboutPageData"
  [heroImageMain]="aboutPageData.layoutData.heroImageMain"
  [heroImageSecondary]="aboutPageData.layoutData.heroImageSecondary"
  [heroImageMainAlt]="aboutPageData.layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="aboutPageData.layoutData.heroImageSecondaryAlt"
  [logoText]="aboutPageData.layoutData.logoText"
  [breadcrumbText]="aboutPageData.layoutData.breadcrumbText"
  [heroTitle]="aboutPageData.layoutData.heroTitle"
  [hideScrollProgressBar]="false"
  [showHeader]="false"
  [preventPicChange]="true"
>
  <section class="about-me-section content-text" [@fadeInUpStagger]="animationState">
    <h2 class="text-animate">{{ aboutPageData.pageContent.title }}</h2>
    <div class="text-animate content-html" [innerHTML]="aboutPageData.pageContent.content"></div>

    <experience-timeline
      class="text-animate"
      [experiences]="aboutPageData.experiences"
    ></experience-timeline>

    <certificates
      class="text-animate"
      [certificates]="aboutPageData.certificates"
    ></certificates>
  </section>
</default-layout>
