<default-layout
  [footerText]="layoutData.footerText"
  [heroImageMain]="layoutData.heroImageMain"
  [heroImageSecondary]="layoutData.heroImageSecondary"
  [heroImageMainAlt]="layoutData.heroImageMainAlt"
  [heroImageSecondaryAlt]="layoutData.heroImageSecondaryAlt"
  [logoText]="layoutData.logoText"
  [breadcrumbText]="layoutData.breadcrumbText"
  [heroTitle]="layoutData.heroTitle"
  [hideScrollProgressBar]="false"
  [showHeader]="false"
  [preventPicChange]="true"
>
  <section class="about-me-section content-text" [@fadeInUpStagger]="animationState">
    <h2 class="text-animate">{{ pageContent.title }}</h2>
    <div class="text-animate content-html" [innerHTML]="pageContent.content"></div>

    <experience-timeline
      class="text-animate"
      [experiences]="experiences"
    ></experience-timeline>

    <certificates
      class="text-animate"
      [certificates]="certificates"
    ></certificates>
  </section>
</default-layout>
