
:host {
  display: block;
  width: 100%;
}

.marquee-component {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  padding-top: var(--sizes-global--1);
  padding-bottom: var(--sizes-global--1);
  background-color: var(--colors-global--tertiary-color);
  display: flex;
}

.marquee-wrap {
  display: flex;
  width: max-content;
  animation: marquee-scroll 60s linear infinite;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.marquee-wrap-reverse {
  animation: marquee-scroll-reverse 60s linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-text-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: none;
}

.marquee-text {
  padding-right: var(--sizes-global--1);
  padding-left: var(--sizes-global--1);
  color: var(--colors-global--secondary-color);
  font-size: var(--sizes-global--3-157);
  letter-spacing: -.0422em;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 900;
  line-height: .85;
  flex: none;
}

.marquee-overlay {
  z-index: 1;
  background-image: linear-gradient(90deg, var(--colors-global--tertiary-color) 2%, #0000 35%, #0000 65%, var(--colors-global--tertiary-color) 98%), linear-gradient(0deg, var(--colors-global--tertiary-color), #0000 15%, #0000 85%, var(--colors-global--tertiary-color));
  pointer-events: none;
  position: absolute;
  inset: 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .marquee-wrap,
  .marquee-wrap-reverse {
    will-change: transform;
  }
}

.marquee-component:hover .marquee-wrap,
.marquee-component:hover .marquee-wrap-reverse {
  animation-play-state: paused;
}

.marquee-component .marquee-wrap {
  overflow: visible !important;
}

.marquee-component .marquee-text-wrapper {
  flex-shrink: 0 !important;
  flex: none !important;
}

@media (max-width: 768px) {
  .marquee-text {
    font-size: var(--sizes-global--1-777);
  }
} 